%fieldset.control-group
  %legend All Subjects
  - if @grades.count > 0
    %table.table.table-stripped
      %thead
        %tr
          %th Grade
          %th Quarter
          %th
          %th
          %th
      %tbody
      - @grades.each do |grade|
        %tr
          %td= grade.grade
          %td= grade.quarter
          %td= link_to 'Show', subject_grade_path(@subject, grade)
          %td= link_to 'Edit', edit_subject_grade_path(@subject, grade)
          %td= link_to 'Destroy', subject_grade_path(@subject, grade), :confirm => 'Are you sure?', :method => :delete

  - else
    .well
      %p.text-center= t :no_data
  .form-actions
    = link_to 'New Grades', new_subject_grade_path, :class => 'btn btn-primary'
